@font-face {
    font-family: pixelFont;
    src: url(css-fonts/dogicapixel.ttf);
}



body{
    margin: 0;
    background-image: url(css-images/SternenHintergrund.png);
    background-repeat: repeat;
    background-size: cover; 
    
}



/****************************************Navigation-Bar******************************************/
.navigation-bar{
    background-color: rgba(255, 255, 255, 0.5);
    height: 120px;
    width: 100%;
    top: 0; 
    /* bottom: 0; */
    position: fixed; 

    border-bottom: 5px;
    border-color: white;

}

.home-links{
    display: inline-block;
    position: absolute;
    margin-left: 600px;
    margin-top: 50px;
    
    font-family: pixelFont;
}

.contact-links{
    display: inline-block;
    position: absolute;
    margin-left: 1200px;
    margin-top: 50px;
    
    font-family: pixelFont;
}

a{
    
    text-decoration: none;
    color: white;
    
}

.Logo{
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}



/****************************************header-bar****************************************/

.header-bar{
    height: 850px;
    width: 100%;
    /* background-color: red; */
}



  
  
  .typewriter {
    display: inline-block;
    position: absolute;
    margin-top: 400px;
    margin-left: 400px;
    width: 710px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: pixelFont;
    color: white;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }






/******************************************Skills**********************************************/


.Skills{
    height: 400px;
    width: 100%;
    background-color: white;
}

.mySkills{
    font-family: pixelFont;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

td{
    font-family: pixelFont;
}

.skill-table{
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
}

.filler{
    height: 200px;
    width: 100%;
}


/******************************************AboutME**********************************************/


.about-me{
    background-color: white;
    height: 400px;
    width: 100%;
}

.aboutMe{
    font-family: pixelFont;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.aboutMeText{
    font-family: pixelFont;
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    line-height: 20px;
}

.thlübeck-a{
    text-decoration: underline;
    color: black;
}










/******************************************Formular**********************************************/

.formuluar{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 20px;
    
    width: 400px;
    height: 500px;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h3{
    font-family: pixelFont;
    color: white;
}

.Kontakt-Infos{
    font-family: pixelFont;
    color: white;
    line-height: 25px;
}

label{
    font-family: pixelFont;
    color: white;
}